<div class="page">
  <div class="page__header">
    <h1>[Search Term]</h1>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordion</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card no-pad box-shadow">
        <button class="search"></button>
        <div id="videos-accordion">
          <button class="accordion">
            <table style="width:80%">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
              </tr>
            </table>
          </button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>

          <button class="accordion">Section 2</button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>

          <button class="accordion">Section 3</button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>
        </div>
        <%= @videos %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>

</div>
