body {
  background: #F0F3F8;
  font-family: sans-serif;
  margin: 0;
}

footer{
  padding: $big-spacing;
  background: $navy;
}

.header{
  background: $white;
  padding: $small-spacing;
  padding-left: $base-spacing;
  border-bottom: 3px solid #a6afbe;
  text-decoration: none;

  a {
    text-decoration: none;
    color: $black;
  }
}

.card {
  background: $white;
  margin: auto;
  margin-bottom: $big-spacing;
  max-width: 1000px;
  padding: $base-spacing;

  &.no-pad {
    padding: 0;
  }

  &.bigger {
    max-width: 1400px;
  }
}

.box-shadow {
  box-shadow: 0 5px 10px 0 rgba(#6892FF, 0.25);
}

.tab-menu {
  border-bottom: 1px solid #a6afbe;
  display: flex;
  margin: auto;
  margin-bottom: $small-spacing;
  margin-top: $base-spacing;
  max-width: 1000px;

  .tab-menu__item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    text-indent: $small-spacing;
    margin-right: $base-spacing;
    margin-bottom: 3px;
    padding: $small-spacing 0;
    min-width: 20%;

    &.selected {
      font-weight: 600;
      box-shadow: 0px 3px 0 0 $blue;
    }
  }
}

//style search bar

.search-bar{

  display: inline-flex;
  width: 100%;

  .searchContainer{
    display: inline-flex;
    background: $lighter-gray;
    margin: $small-spacing;
    padding: $small-spacing;
    border-radius: 3px;
    width: 61%;
  }

  .searchIcon {
    color: $dark-gray;
    background: $lighter-gray;
  }

  input{
    margin-left: 1%;
    background: $lighter-gray;
    border: 0;
    font-size: 16px;
    width: 95%;
  }

  .buttonContainer{
    width: 39%;
    margin: $small-spacing;
    margin-left: 0;
  }

  button{
    border-radius: 3px;
    padding: $small-spacing;
    text-decoration: none;
    font-size: 16px;
    width: 47.3%;

    &.search {
      margin-left: $small-spacing;
      background: $blue;
      color: $white;

      &:hover {
        background: darken($blue, 10);
      }
    }
  }
}

// Style accordion tabs
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-top: 1px solid #a6afbe;

  table{
    width: 90%;

    td{
      width: 40%;
      font-size: 14px;
      font-weight: bold;
      &.date{
        width: 20%;
        font-weight: normal;
      }
    }
  }
}

.hidden {
  display: none;
}

//
.accordion:before {
  content: '\2303';
  font-size: 24px;
  color: $blue-gray;
  float: left;
  display: inline-block;
  margin-right: $base-spacing;
  margin-bottom: $base-spacing;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.active:before {
  content: "\2303";
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

// Style the accordion panel
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

  .panel-top{
    display: inline-flex;

    img {
      max-height: 180px;
      max-width: 240px;
    }

    .panel-text{
      margin-left: $small-spacing;
    }

    .label{
      margin-top: 0;
    }

  }

  table {
    text-align: left;
    width: 100%;

    th{
      width: 25%;
    }

    tr{
      width: 25%;
    }

    .tags{
      width: 50%;
    }
  }

  .label{
    font-weight: normal;
    color: $blue-dark-gray;
  }
}

.bar-graph{

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

  .x-axis{
    .tick line{
      visibility:hidden;
    }
  }

  .y-axis {
    g text{
      display: none;
    }
  }
}
