.bar-graph {

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

  .x-axis {
    .tick line {
      visibility: hidden;
    }
  }

  .y-axis {
    g text {
      display: none;
    }
  }
}