//search bar
.search-bar{

  display: inline-flex;
  width: 100%;

  .searchContainer{
    display: inline-flex;
    background: $lighter-gray;
    margin: $small-spacing;
    padding: $small-spacing;
    border-radius: 3px;
    width: 61%;
  }

  .searchIcon {
    color: $dark-gray;
    background: $lighter-gray;
  }

  input{
    margin-left: 1%;
    background: $lighter-gray;
    border: 0;
    font-size: 16px;
    width: 95%;
  }

  .buttonContainer{
    width: 39%;
    margin: $small-spacing;
    margin-left: 0;
  }

  button{
    border-radius: 3px;
    padding: $small-spacing;
    text-decoration: none;
    font-size: 16px;
    width: 47.3%;

    &.search {
      margin-left: $small-spacing;
      background: $blue;
      color: $white;

      &:hover {
        background: darken($blue, 10);
      }
    }
  }
}

//accordion tabs
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-top: 1px solid #a6afbe;

  table{
    width: 90%;

    td{
      width: 40%;
      font-size: 14px;
      font-weight: bold;
      &.date{
        width: 20%;
        font-weight: normal;
      }
    }
  }
}

.accordion:before {
  content: '\2303';
  font-size: 24px;
  color: $blue-gray;
  float: left;
  display: inline-block;
  margin-right: $base-spacing;
  margin-bottom: $base-spacing;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.active:before {
  content: "\2303";
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

//accordion panel
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

  .panel-top{
    display: inline-flex;

    img {
      max-height: 180px;
      max-width: 240px;
    }

    .panel-text{
      margin-left: $small-spacing;
    }

    .label{
      margin-top: 0;
    }

  }

  table {
    text-align: left;
    width: 100%;

    th{
      width: 25%;
    }

    tr{
      width: 25%;
    }

    .tags{
      width: 50%;
    }
  }

  .label{
    font-weight: normal;
    color: $blue-dark-gray;
  }
}